DB_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/cassandra?retryWrites=true&w=majority
SUPER_SECRET=cambia_questa_stringa_con_qualcosa_di_segreto
PORT=3000
GOOGLE_CLIENT_ID=your_google_oauth_client_id_here
SEED_ADMIN_PASSWORD=password_admin_per_il_seed
SEED_USER_PASSWORD=password_utente_demo_per_il_seed
